* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }

  body {
    background: #344a72;
    line-height: 1.8;
  }

  a {
    text-decoration: none;
  }

  #container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
  }

  .form-wrap {
    background: #fff;
    border-radius: 10px;
    padding: 15px 25px;
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 15px;
  }

  .form-wrap .form-group label {
    display: block;
  }

  .form-wrap .form-group p {
    color: red;
    padding-top: 10px;
    font-size: small;
    text-align: start;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: #ddd 1px solid;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    background: #48c1a2;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
  }

  .form-wrap button:hover {
    background-color: #37a08e;
  }